.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header_frame .container {
  flex-direction: row;
}

.container .header_left {
  position: relative;
  padding-left: 15px;
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  background-image: url(./images/icons/header_bg.svg);
  border-radius: 5px;
}

.header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

/* PAGINATION */

.container .pagination_box {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination_main img {
  cursor: pointer;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pagination_dot .dot:active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
}

.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: #f5c34b;
  color: #041e42;
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_content span {
  margin-top: 10px;
  width: 428px;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.header_content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
}

.header_content img {
  position: absolute;
  right: 10px;
}

.container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  border-radius: 6px;
  flex-direction: row;
  background-color: #f2f2f2;
  margin-left: 30px;
  overflow: hidden;
}

.header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_left span {
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

.header_box .box_right {
  width: 50%;
}

.box_right img {
  width: 100%;
  height: 100%;
}
/* Service frame */
.service_frame {
  margin: 15px auto;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* SHop Category */
.shop_category_frame {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 90px;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_category_frame .category_top span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop_category_frame .category_top a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.shop_category_frame .category_top a:hover {
  border-bottom: 1px solid #041e42;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Selling product  */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 1005;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .category_top span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .category_top a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.selling_product_frame .category_top a:hover {
  border-bottom: 1px solid #041e42;
}

.selling_product_frame .product_wrapper .next_prev_box {
  width: 60px;
}

.selling_product_frame .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_box .hover_box {
  margin-bottom: 10px;
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
}

.selling_product_frame .product_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_box .product_content_box {
  width: 100%;
  height: auto;
  padding: 5px 22px;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  overflow: hidden;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .price_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #e5edff;
}

/* HEADPHONES FRAME */
.headphones-frame {
  margin-top: 30px;
}

.headphones-frame .container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  margin: 20px auto;
}

.headphones-left {
  display: flex;
  flex-direction: row;
  width: 664px;
  height: 340px;
  background-color: rgb(243, 245, 246, 1);
  border-radius: 6px;
}

.headphone-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 50%;
}

.headphone-box img {
  width: 322.45px;
  height: 309px;
}

.headphone-box span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone-box strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone-box p {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.headphone-box p:hover {
  border-bottom: 1px solid rgba(4, 30, 66, 1);
}

.headphones-right {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  flex-wrap: wrap;
  width: 48%;
  gap: 10px;
}

.headphones-right .text-box {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.headphones-right p {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.headphones-right div {
  width: 294px;
  height: 165px;
  background-color: rgb(243, 245, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.img-right img {
  width: 85.6px;
  height: 107px;
}

.headphones-frame .category_top {
  display: flex;
  justify-content: space-around;
}

.headphones-frame .category_top span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
}

.headphones-frame .category_top a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  height: 25px;
}

.headphones-frame .category_top a:hover {
  border-bottom: 1px solid rgba(4, 30, 66, 1);
}

/* TV FRAME */
.tv-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv-frame .container {
  flex-direction: column;
}

.tv-frame .container .tv-wrapper {
  position: relative;
  margin-top: 30px;
  width: 1005;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.tv-frame .category_top div {
  display: flex;
  gap: 20px;
}

.tv-frame .category_top span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.tv-frame .category_top a {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.tv-frame .category_top a:hover {
  border-top: 1px solid #041e42;
  color: rgba(4, 30, 66, 1);
}

.tv-frame .tv-wrapper .next_prev_box {
  width: 60px;
}

.tv-frame .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.tv-frame .tv-wrapper .tv-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv-frame .tv-boxes .tv-box {
  display: flex;
  flex-direction: column;
}

.tv-frame .tv-box .tv-img_box {
  width: 100%;
  height: 280px;
}

.tv-frame .tv-box .hover_box {
  margin-bottom: 10px;
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tv-frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
}

.tv-frame .tv-box:hover .hover_box {
  display: flex;
}

.tv-frame .tv-box .tv-content_box {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.tv-frame .tv-box {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.tv-frame .tv-content_box .tv-title {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.tv-frame .tv-content_box .tv-desc {
  width: 222.06px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.tv-frame .tv-content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tv-frame .review_box img {
  margin-right: 5px;
}

.tv-frame .review_box span {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.tv-frame .tv-content_box .price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tv-frame .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.tv-frame .price_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

/* SECTION CARD */

section {
  background: url(./images/icons/background-img.png);
  height: 630px;
  padding: 70px;
}

section .container {
  width: 1300px;
  height: 400px;
  margin: 20px auto;
}

.footer-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-day--box p {
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-day--box span {
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
}

.footer-day--box h5 {
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5%;
  margin: 0 10px 25px 0;
}

.footer-day--box button {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  padding: 15px 35px 15px 35px;
}

.footer-day .footer-day--box {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  padding: 20px;
}

.footer-wrapper .border:not(:last-child) {
  display: flex;
  gap: 10px;
  border-right: 10px solid rgba(0, 83, 246, 1);
}

.footer-box .footer-img_box {
  width: 194.66px;
  height: 220px;
  border-radius: 6px;
  overflow: hidden;
}

footer .container {
  width: 1300px;
  height: auto;
  margin: 20px auto;
  border-bottom: 2px solid rgba(234, 234, 234, 1);
}

/* SECTION FOOTER */

.footer {
  background-color: rgba(243, 245, 246, 1);
  padding: 60px 20px 25px;
  font-family: "Poppins", sans-serif;
}

footer .container {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.col img {
  display: flex;
}

.footer-container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  
}

.col h4 {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 600;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.col p,
.col a {
  font-size: 13px;
  color: #555;
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.col a:hover {
  color: #ff4da6;
  transform: translateX(3px);
}

/* Help box */
.help-box {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.help-box .icon {
  font-size: 18px;
  color: #ff4da6;
}

/* Social */
.social span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #ffc0cb;
  text-align: center;
  line-height: 32px;
  margin-right: 6px;
  border-radius: 50%;
  font-size: 13px;
  transition: 0.3s;
}

.social span:hover {
  background: #ff4da6;
  color: #fff;
}

/* Cards */
.cards {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #ffc0cb;
  padding: 6px 10px;
  font-size: 11px;
  border-radius: 6px;
}

/* Select */
.select-box {
  margin-top: 15px;
}

.select-box select {
  width: 100%;
  margin-bottom: 8px;
  padding: 7px;
  font-size: 12px;
  border: 1px solid #ffc0cb;
  border-radius: 5px;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #ffc0cb;
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom p {
  font-size: 12px;
  color: #999;
}

.links a {
  margin-left: 15px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.links a:hover {
  color: #ff4da6;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

.select-box {
  height: 40.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
}

.select-box span {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.select-box select {
  display: flex;
  gap: 10px;
  outline: none;
  border: none;
  margin-bottom: -1px;
}

.contact {
  display: flex;
}

.contact .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-right: 20px;
  margin-bottom: -60px;
}

.copyright {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.social p{

}